backend:
  name: git-gateway
  branch: master

local_backend: true #npm run local cms

site_url: 'https://www.noshi.cx/'
media_folder: static/img
public_folder: /img

collections:
  - name: 'blog'
    label: 'Blog'
    format: 'json'
    folder: 'content/blog'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }

  - name: 'work'
    label: 'Work'
    format: 'json'
    folder: 'content/work'
    create: true
    slug: '{{title}}-{{year}}{{month}}{{day}}'
    editor:
      preview: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Client', name: 'client', widget: 'string' }
      - { label: 'Thumbnail', name: 'thumbnail', widget: 'image' }
      - { label: 'Description', name: 'description', widget: 'text' }
      - { label: 'Overview', name: 'overview', widget: 'markdown' }
      - {
          label: 'Roles',
          name: 'roles',
          widget: 'list',
          default: ['UX Design', 'Full Stack Development'],
        }
      - {
          label: 'Gallery',
          name: 'galleryImages',
          widget: 'list',
          field: { label: Image, name: image, widget: image },
        }
      - {
          label: 'Seo Keywords',
          name: 'seo',
          widget: 'list',
          default: ['UX Design', 'Full Stack Development'],
        }
      - {
          label: 'Details',
          name: 'details',
          widget: 'markdown',
          required: false,
        }
