$t-duration: 800ms;
$t-delay: 300ms;

.page-enter-active,
.page-leave-active {
  transition-duration: $t-duration * 2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 99;
    display: block;
    width: 100%;
    height: 100%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  &::before {
    background-color: #f7941e;
    border-radius: 100%;
    // left: 0;
    // top: 0;

    // position: absolute;
    // width: 1px;
    // height: 1px;
    // background: white;
    // content: '';
    // bottom: 10px;
    // left: 50%;
    // bottom: 95%;
    // color: #fff;
    // border-radius: 50%;
    // -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    // transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &::after {
    top: 100%;
    background-color: #d8cbcf;
  }
}

.page-leave {
  &::before,
  &::after {
    transform: scale(0);
    transform-origin: 50%;
  }
}

.page-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-leave-to {
  &::before,
  &::after {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.page-enter {
  &::before,
  &::after {
    transform: scaleY(1);
  }
}

.page-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-enter-to {
  &::before,
  &::after {
    transform: scaleY(0);
    transform-origin: top top;
  }
}
