$t-duration: 800ms;
$t-delay: 300ms;

.page-enter-active,
.page-leave-active {
  transition-duration: $t-duration * 2;

  &::before,
  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 30;
    display: block;
    width: 250vw;
    height: 250vw;
    border-radius: 100%;

    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  // &::before {
  //   background-color: #2e2e2e;
  // }

  &::after {
    background-color: #f7941e;

    // border-radius: 100%;
  }
}

.page-leave {
  &::before,
  &::after {
    border-radius: 100%;

    transform: scale(0);
  }
}

.page-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-leave-to {
  &::before,
  &::after {
    border-radius: 100%;

    transform: scale(2);
    transform-origin: center;
  }
}

.page-enter {
  &::before,
  &::after {
    border-radius: 100%;

    transform: scale(2);
  }
}

.page-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-enter-to {
  &::before,
  &::after {
    border-radius: 100%;

    transform: scale(0);
    transform-origin: center;
  }
}
